<!DOCTYPE html>

<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<body>


<header
    th:fragment="header"
    class="topbar">


    <nav class="header-nav">


        <a
            class="brand"
            th:href="@{/}">

            UTEShop

        </a>


        <div
            class="user-info"
            th:if="${#authorization.expression('isAuthenticated()')}">

            <img
                th:src="${
                    #authentication.principal.images != null
                    and
                    !#strings.isEmpty(
                        #authentication.principal.images
                    )
                    ?
                    #authentication.principal.images
                    :
                    '/images/avatar-default.png'
                }"
                alt="Avatar"
                class="avatar">

            <strong
                th:text="${
                    #authentication.principal.fullName
                }">

                Nguyễn Văn A

            </strong>


            <span
                th:text="${
                    '('
                    +
                    #authentication.principal.username
                    +
                    ')'
                }">

                (user01)

            </span>

            <span
                th:text="${
                    #authentication.principal.email
                }">

                user01@gmail.com

            </span>

            <span
                class="role"
                th:text="${
                    #authentication.principal.role
                }">

                ROLE_USER

            </span>

            <form
                th:action="@{/logout}"
                method="post"
                style="display:inline">


                <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}">


                <button
                    type="submit"
                    class="link-button">

                    Đăng xuất

                </button>


            </form>


        </div>


        <div
            th:unless="${
                #authorization.expression(
                    'isAuthenticated()'
                )
            }">

            <a th:href="@{/login}">

                Đăng nhập

            </a>

        </div>


    </nav>


</header>


</body>

</html>